.grid-column {
  margin-bottom: 2rem !important;
}

.home-page-title{
  display: block !important;
  text-align: center;
}

.form-container {
  margin: auto;
  width: 40rem;
}

.menu-bar-container {
  margin-bottom: 1.5rem;
}

.create-post-error {
  margin-bottom: 1.5rem !important;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.ui.input.fluid {
  margin-bottom: 1rem;
}

/* Semantic UI Icons */
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
  margin: 0;
}


/* ---------- Light mode & Dark mode styling ---------- */

/* --- Light --- */
#light {
  background-color: white;
  min-height: 1080px;
}

#light .ui.label, #light .ui.pointing.label:before, #light .ui.button {
  transition: none !important;
}

/* --- Dark --- */

#dark {
  background-color: #1e1f20;
  min-height: 1080px;
}

/* Menu Bar */
#dark .item {
  color: rgb(223, 223, 223);
}

#dark .ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(182, 187, 192, 0.15)
}

#dark input {
  background: #434446;
  color: rgb(223, 223, 223);
}

/* PostForm */
#dark h1, #dark h2, #dark h3, #dark h4 {
  color: rgb(223, 223, 223);
}

/* Cards */
#dark .card {
  background-color: #2a2b2c;
}

#dark .ui.card, .ui.cards>.card {
  box-shadow: 0 1px 3px 0 #242526, 0 0 0 1px #242526;
}

#dark h1, #dark .header, #dark .description {
  color: rgb(223, 223, 223);
}

#dark .meta {
  color: rgb(121, 121, 121);

}

#dark .ui.card>.extra, .ui.cards>.card>.extra {
  border-top-color: #434648 !important;
}

/* Like Button */
#dark .ui.basic.teal.button, .ui.basic.teal.buttons .button{
  color: #03645f !important;
}

#dark .ui.teal.button, .ui.teal.buttons .button {
  background-color: #03645f;
}

#dark .ui.teal.button:focus, .ui.teal.buttons .button:focus {
  background-color: #03645f;
}

/* Label on Like & Comment Buttons */
#dark .ui.basic.label {
  background-color: #2a2b2c !important;
}

#dark .ui.label, #dark .ui.pointing.label:before, #dark .ui.button {
  transition: none !important;
}

/* Login & Register pages */
#dark .field label {
  color: rgb(223, 223, 223);
}

/* Error messages */
#dark .ui.attached.error.message, #dark .ui.error.message {
  box-shadow: 0 0 0 1px #c4bbbb inset, 0 0 0 0 transparent;
}

#dark .ui.error.message {
  background-color: #b15d5dc9;
}

#dark .list {
  color: white;
}

/* Single Post Page */
#dark .ui.card>.content, .ui.cards>.card>.content {
  border-top: 1px solid #434648;
}


