.grid-column {
  margin-bottom: 2rem !important;
}

.home-page-title{
  display: block !important;
  text-align: center;
}

.form-container {
  margin: auto;
  width: 40rem;
}

.menu-bar-container {
  margin-bottom: 1.5rem;
}

.create-post-error {
  margin-bottom: 1.5rem !important;
}